<a href="https://colab.research.google.com/github/wayamhui/ISYS5002_Assignment/blob/main/Assignment_Solving_Metho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction Section

Problem Solving Methodology


1. State the problem clearly

2. Describe the input and output

3. Work a simple example by hand

4. Develop an algorithm (and convert to Python)

5. Test solution with a variety of data

6. Finalize the formatted Python notebook

Program need: write a notebook that prompts the user for a company's stock market ticker symbol. Then for each
executive calculate the expected income tax based on the ATO tax tables. 

Input: ticker symbol 
(Is this meaning stock code?)

Output: income tax of each executive

Processing

ToDo: scrapping to find the website content is the most difficult part, how to skip HTML/table format/title information and "jump" to the interested content of salary info of key executives

What data to save?

To explore web

1. Search for Coles
https://finance.yahoo.com/quote/col.ax/?p=col.ax

2. Search for NAB
https://finance.yahoo.com/quote/nab.ax/?p=nab.ax

Shortcut the URL

The final few charactors in the website "?p=xxxx" seems not affecting the website retur

# Section 1 State the problem clearly

Program need: write a notebook that prompts the user for a company's stock market ticker symbol. Then for each executive calculate the expected income tax based on the ATO tax tables.

# Section 2 Describe the input and output

Input 1: ticker symbol (Is this meaning stock code? Yes)

Input 2: foreign exchange rate as the pay might not be in AUD

Output: income tax of each executive

# Work a simple example by hand

To manually calculate income tax

https://finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

```
Name	Title	Pay	Exercised	Year Born
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA	Group Chief Financial Officer	1.13M	N/A	N/A
Mr. Patrick F. Wright	Group Exec. of Technology & Enterprise Operations	1.72M	N/A	1967
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
Ms. Susan Ferrier	Group Exec. of People & Culture	929.27k	N/A	N/A
Ms. Angela Mentis B.Bus	Group Chief Digital, Data & Analytics Officer	1.62M	N/A	N/A
Mr. Shaun Dooley	Chief Risk Officer	1.05M	N/A	N/A
Mr. Andrew Irvine	Chief Exec. of Bus. Private Banking Division	333.27k	N/A	N/A
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	N/A	1960
Ms. Sally Mihell	Head of Investor Relations	N/A	N/A	N/A
``` 

Key Executives
Name	Title	Pay	Exercised	Year Born

Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957

copy the income tax function here, please
```
def tax_cal(annualincome):
  if annualincome <=18200:
    tax_payable = 0
  elif annualincome <=45000:
    tax_payable = ( annualincome - 18200 ) * 0.19 
  elif annualincome <=120000:
    tax_payable = ( annualincome - 45000 ) * 0.325 + 5092
  elif annualincome <=180000:
    tax_payable = ( annualincome - 120000 ) * 0.37 + 29467
  else:
    tax_payable = ( annualincome - 180000 ) * 0.45 + 51667
  return tax_payable
```

2.54m will generate

2540000 - (180000)* 0.45 + 51667 = 1113667

Most difficulat parts are:
1. locate the table in the HTML source code and extract the target profile table contents
2. Convert the "M" and "k" to 1000000 and 1000 respectively to translate the pay to correct amount.

In [1]:
a = ( 7430000 - 180000)* 0.45 + 51667 
print (a)
a = ( 2540000 - 180000)* 0.45 + 51667 
a

3314167.0

1113667.0

copy the while...try...except here:
``` 
  valid = False
  while not valid:
    try:
      original_price = int(input("Pease enter the original price: "))
      valid = True
    except ValueError:
      print ('please input integer')
```

test write csv function
```
lines = 'tax'
with open('/content/test.csv','w') as f:
  f.writelines(lines)
```

# intial algorithm
user input ticker symbol

In [2]:
# user input ticker symbol
ticker_symbol = input ("Please input  the ticker symbol / stock code: ")
# print(ticker_symbol)

Please input  the ticker symbol / stock code: goog

In [3]:
# user tikcer to get profile page

example_url = 'https://finance.yahoo.com/quote/{}/profile?p={}'
example_url.format (ticker_symbol,ticker_symbol)

'https://finance.yahoo.com/quote/goog/profile?p=goog'

In [4]:
def build_url():
  # user input ticker symbol
  ticker_symbol = input ("Please input  the ticker symbol / stock code: ")
  # print(ticker_symbol)
  # user tikcer to get profile page
  example_url = 'https://finance.yahoo.com/quote/{}/profile?p={}'
  result = example_url.format (ticker_symbol,ticker_symbol)
  return result

In [5]:
url = build_url()
print(url)

Please input  the ticker symbol / stock code: goog
https://finance.yahoo.com/quote/goog/profile?p=goog

# HTML source code

In [6]:
!pip install kora -q
'''load packages'''
import requests
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

     |████████████████████████████████| 57 kB 5.2 MB/s
     |████████████████████████████████| 56 kB 4.2 MB/s

In [ ]:
# get the page source HTML
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")

# Table screening

In [8]:
table = soup.find('table')
body = soup.find_all('tbody')

print (body)
print (len(body))

body = soup.find('tbody')

print (body)
print (len(body))

rows = body.find_all('tr')
print (len(rows))

row1 = rows[0]
cells = row1.find_all('td')
print (len(cells))


name = cells[0]
title = cells[1]
pay = cells[2]

for item in [0,1,2,3,4]:
  print (cells[item].text)

[<tbody data-reactid="47"><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="48"><td class="Ta(start)" data-reactid="49"><span class="" data-reactid="50"><!-- react-text: 51 -->Mr. Sundar  Pichai<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="52"><span class="" data-reactid="53"><!-- react-text: 54 -->CEO &amp; Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="55"><span class="" data-reactid="56"><!-- react-text: 57 -->7.43M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="58"><span class="" data-reactid="59"><!-- react-text: 60 -->3.6M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="61"><span class="" data-reactid="62"><!-- react-text: 63 -->1973<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="64"><td class="Ta(start)" data-reactid="65"><span class="" data-reactid="66"><!-- react-text: 67 -->Mr. Lawrence Edward Page<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="68"><span class="" data-reactid="69"><!-- react-text: 70 -->Co-Founder &amp; Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="71"><span class="" data-reactid="72"><!-- react-text: 73 -->1<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="74"><span class="" data-reactid="75"><span data-reactid="76">N/A</span></span></td><td class="Ta(end)" data-reactid="77"><span class="" data-reactid="78"><!-- react-text: 79 -->1973<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="80"><td class="Ta(start)" data-reactid="81"><span class="" data-reactid="82"><!-- react-text: 83 -->Mr. Sergey  Brin<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="84"><span class="" data-reactid="85"><!-- react-text: 86 -->Co-Founder &amp; Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="87"><span class="" data-reactid="88"><!-- react-text: 89 -->1<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="90"><span class="" data-reactid="91"><span data-reactid="92">N/A</span></span></td><td class="Ta(end)" data-reactid="93"><span class="" data-reactid="94"><!-- react-text: 95 -->1974<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="96"><td class="Ta(start)" data-reactid="97"><span class="" data-reactid="98"><!-- react-text: 99 -->Ms. Ruth M. Porat<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="100"><span class="" data-reactid="101"><!-- react-text: 102 -->Sr. VP &amp; CFO<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="103"><span class="" data-reactid="104"><!-- react-text: 105 -->672.77k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="106"><span class="" data-reactid="107"><span data-reactid="108">N/A</span></span></td><td class="Ta(end)" data-reactid="109"><span class="" data-reactid="110"><!-- react-text: 111 -->1958<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="112"><td class="Ta(start)" data-reactid="113"><span class="" data-reactid="114"><!-- react-text: 115 -->Dr. Prabhakar  Raghavan<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="116"><span class="" data-reactid="117"><!-- react-text: 118 -->Sr. VP of Google<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="119"><span class="" data-reactid="120"><!-- react-text: 121 -->664.75k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="122"><span class="" data-reactid="123"><span data-reactid="124">N/A</span></span></td><td class="Ta(end)" data-reactid="125"><span class="" data-reactid="126"><!-- react-text: 127 -->1961<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="128"><td class="Ta(start)" data-reactid="129"><span class="" data-reactid="130"><!-- react-text: 131 -->Mr. Philipp  Schindler<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="132"><span class="" data-reactid="133"><!-- react-text: 134 -->Sr. VP &amp; Chief Bus. Officer of Google<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="135"><span class="" data-reactid="136"><!-- react-text: 137 -->881.82k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="138"><span class="" data-reactid="139"><span data-reactid="140">N/A</span></span></td><td class="Ta(end)" data-reactid="141"><span class="" data-reactid="142"><span data-reactid="143">N/A</span></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="144"><td class="Ta(start)" data-reactid="145"><span class="" data-reactid="146"><!-- react-text: 147 -->Mr. Kent  Walker<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="148"><span class="" data-reactid="149"><!-- react-text: 150 -->Corp. Sec.<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="151"><span class="" data-reactid="152"><!-- react-text: 153 -->664.75k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="154"><span class="" data-reactid="155"><span data-reactid="156">N/A</span></span></td><td class="Ta(end)" data-reactid="157"><span class="" data-reactid="158"><!-- react-text: 159 -->1961<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="160"><td class="Ta(start)" data-reactid="161"><span class="" data-reactid="162"><!-- react-text: 163 -->Ms. Amie Thuener O'Toole<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="164"><span class="" data-reactid="165"><!-- react-text: 166 -->Chief Accounting Officer &amp; VP<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="167"><span class="" data-reactid="168"><span data-reactid="169">N/A</span></span></td><td class="Ta(end)" data-reactid="170"><span class="" data-reactid="171"><span data-reactid="172">N/A</span></span></td><td class="Ta(end)" data-reactid="173"><span class="" data-reactid="174"><!-- react-text: 175 -->1976<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="176"><td class="Ta(start)" data-reactid="177"><span class="" data-reactid="178"><!-- react-text: 179 -->Ms. Ellen  West<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="180"><span class="" data-reactid="181"><!-- react-text: 182 -->VP of Investor Relations<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="183"><span class="" data-reactid="184"><span data-reactid="185">N/A</span></span></td><td class="Ta(end)" data-reactid="186"><span class="" data-reactid="187"><span data-reactid="188">N/A</span></span></td><td class="Ta(end)" data-reactid="189"><span class="" data-reactid="190"><span data-reactid="191">N/A</span></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="192"><td class="Ta(start)" data-reactid="193"><span class="" data-reactid="194"><!-- react-text: 195 -->Ms. Fiona Clare Cicconi<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="196"><span class="" data-reactid="197"><!-- react-text: 198 -->Chief People Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="199"><span class="" data-reactid="200"><span data-reactid="201">N/A</span></span></td><td class="Ta(end)" data-reactid="202"><span class="" data-reactid="203"><span data-reactid="204">N/A</span></span></td><td class="Ta(end)" data-reactid="205"><span class="" data-reactid="206"><!-- react-text: 207 -->1966<!-- /react-text --></span></td></tr></tbody>]
1
<tbody data-reactid="47"><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="48"><td class="Ta(start)" data-reactid="49"><span class="" data-reactid="50"><!-- react-text: 51 -->Mr. Sundar  Pichai<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="52"><span class="" data-reactid="53"><!-- react-text: 54 -->CEO &amp; Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="55"><span class="" data-reactid="56"><!-- react-text: 57 -->7.43M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="58"><span class="" data-reactid="59"><!-- react-text: 60 -->3.6M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="61"><span class="" data-reactid="62"><!-- react-text: 63 -->1973<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="64"><td class="Ta(start)" data-reactid="65"><span class="" data-reactid="66"><!-- react-text: 67 -->Mr. Lawrence Edward Page<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="68"><span class="" data-reactid="69"><!-- react-text: 70 -->Co-Founder &amp; Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="71"><span class="" data-reactid="72"><!-- react-text: 73 -->1<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="74"><span class="" data-reactid="75"><span data-reactid="76">N/A</span></span></td><td class="Ta(end)" data-reactid="77"><span class="" data-reactid="78"><!-- react-text: 79 -->1973<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="80"><td class="Ta(start)" data-reactid="81"><span class="" data-reactid="82"><!-- react-text: 83 -->Mr. Sergey  Brin<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="84"><span class="" data-reactid="85"><!-- react-text: 86 -->Co-Founder &amp; Director<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="87"><span class="" data-reactid="88"><!-- react-text: 89 -->1<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="90"><span class="" data-reactid="91"><span data-reactid="92">N/A</span></span></td><td class="Ta(end)" data-reactid="93"><span class="" data-reactid="94"><!-- react-text: 95 -->1974<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="96"><td class="Ta(start)" data-reactid="97"><span class="" data-reactid="98"><!-- react-text: 99 -->Ms. Ruth M. Porat<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="100"><span class="" data-reactid="101"><!-- react-text: 102 -->Sr. VP &amp; CFO<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="103"><span class="" data-reactid="104"><!-- react-text: 105 -->672.77k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="106"><span class="" data-reactid="107"><span data-reactid="108">N/A</span></span></td><td class="Ta(end)" data-reactid="109"><span class="" data-reactid="110"><!-- react-text: 111 -->1958<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="112"><td class="Ta(start)" data-reactid="113"><span class="" data-reactid="114"><!-- react-text: 115 -->Dr. Prabhakar  Raghavan<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="116"><span class="" data-reactid="117"><!-- react-text: 118 -->Sr. VP of Google<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="119"><span class="" data-reactid="120"><!-- react-text: 121 -->664.75k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="122"><span class="" data-reactid="123"><span data-reactid="124">N/A</span></span></td><td class="Ta(end)" data-reactid="125"><span class="" data-reactid="126"><!-- react-text: 127 -->1961<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="128"><td class="Ta(start)" data-reactid="129"><span class="" data-reactid="130"><!-- react-text: 131 -->Mr. Philipp  Schindler<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="132"><span class="" data-reactid="133"><!-- react-text: 134 -->Sr. VP &amp; Chief Bus. Officer of Google<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="135"><span class="" data-reactid="136"><!-- react-text: 137 -->881.82k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="138"><span class="" data-reactid="139"><span data-reactid="140">N/A</span></span></td><td class="Ta(end)" data-reactid="141"><span class="" data-reactid="142"><span data-reactid="143">N/A</span></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="144"><td class="Ta(start)" data-reactid="145"><span class="" data-reactid="146"><!-- react-text: 147 -->Mr. Kent  Walker<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="148"><span class="" data-reactid="149"><!-- react-text: 150 -->Corp. Sec.<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="151"><span class="" data-reactid="152"><!-- react-text: 153 -->664.75k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="154"><span class="" data-reactid="155"><span data-reactid="156">N/A</span></span></td><td class="Ta(end)" data-reactid="157"><span class="" data-reactid="158"><!-- react-text: 159 -->1961<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="160"><td class="Ta(start)" data-reactid="161"><span class="" data-reactid="162"><!-- react-text: 163 -->Ms. Amie Thuener O'Toole<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="164"><span class="" data-reactid="165"><!-- react-text: 166 -->Chief Accounting Officer &amp; VP<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="167"><span class="" data-reactid="168"><span data-reactid="169">N/A</span></span></td><td class="Ta(end)" data-reactid="170"><span class="" data-reactid="171"><span data-reactid="172">N/A</span></span></td><td class="Ta(end)" data-reactid="173"><span class="" data-reactid="174"><!-- react-text: 175 -->1976<!-- /react-text --></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="176"><td class="Ta(start)" data-reactid="177"><span class="" data-reactid="178"><!-- react-text: 179 -->Ms. Ellen  West<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="180"><span class="" data-reactid="181"><!-- react-text: 182 -->VP of Investor Relations<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="183"><span class="" data-reactid="184"><span data-reactid="185">N/A</span></span></td><td class="Ta(end)" data-reactid="186"><span class="" data-reactid="187"><span data-reactid="188">N/A</span></span></td><td class="Ta(end)" data-reactid="189"><span class="" data-reactid="190"><span data-reactid="191">N/A</span></span></td></tr><tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="192"><td class="Ta(start)" data-reactid="193"><span class="" data-reactid="194"><!-- react-text: 195 -->Ms. Fiona Clare Cicconi<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="196"><span class="" data-reactid="197"><!-- react-text: 198 -->Chief People Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="199"><span class="" data-reactid="200"><span data-reactid="201">N/A</span></span></td><td class="Ta(end)" data-reactid="202"><span class="" data-reactid="203"><span data-reactid="204">N/A</span></span></td><td class="Ta(end)" data-reactid="205"><span class="" data-reactid="206"><!-- react-text: 207 -->1966<!-- /react-text --></span></td></tr></tbody>
10
10
5
Mr. Sundar  Pichai
CEO & Director
7.43M
3.6M
1973

In [9]:
def get3cells(row):  
  cells = row.find_all('td')
  # print (len(cells))
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name': name, 'title': title, 'pay': pay}  # using dictionary type

get3cells(rows[3])

{'name': 'Ms. Ruth M. Porat', 'pay': '672.77k', 'title': 'Sr. VP & CFO'}

In [10]:
exec_records = []
for row in rows:
  result = get3cells(row)
  exec_records.append(result)

print(exec_records)

[{'name': 'Mr. Sundar  Pichai', 'title': 'CEO & Director', 'pay': '7.43M'}, {'name': 'Mr. Lawrence Edward Page', 'title': 'Co-Founder & Director', 'pay': '1'}, {'name': 'Mr. Sergey  Brin', 'title': 'Co-Founder & Director', 'pay': '1'}, {'name': 'Ms. Ruth M. Porat', 'title': 'Sr. VP & CFO', 'pay': '672.77k'}, {'name': 'Dr. Prabhakar  Raghavan', 'title': 'Sr. VP of Google', 'pay': '664.75k'}, {'name': 'Mr. Philipp  Schindler', 'title': 'Sr. VP & Chief Bus. Officer of Google', 'pay': '881.82k'}, {'name': 'Mr. Kent  Walker', 'title': 'Corp. Sec.', 'pay': '664.75k'}, {'name': "Ms. Amie Thuener O'Toole", 'title': 'Chief Accounting Officer & VP', 'pay': 'N/A'}, {'name': 'Ms. Ellen  West', 'title': 'VP of Investor Relations', 'pay': 'N/A'}, {'name': 'Ms. Fiona Clare Cicconi', 'title': 'Chief People Officer', 'pay': 'N/A'}]

In [11]:
def get_exec_records():
  exec_records = []
  for row in rows:
    result = get3cells(row)
    exec_records.append(result)
  return exec_records

get_exec_records()

[{'name': 'Mr. Sundar  Pichai', 'pay': '7.43M', 'title': 'CEO & Director'},
 {'name': 'Mr. Lawrence Edward Page',
  'pay': '1',
  'title': 'Co-Founder & Director'},
 {'name': 'Mr. Sergey  Brin', 'pay': '1', 'title': 'Co-Founder & Director'},
 {'name': 'Ms. Ruth M. Porat', 'pay': '672.77k', 'title': 'Sr. VP & CFO'},
 {'name': 'Dr. Prabhakar  Raghavan',
  'pay': '664.75k',
  'title': 'Sr. VP of Google'},
 {'name': 'Mr. Philipp  Schindler',
  'pay': '881.82k',
  'title': 'Sr. VP & Chief Bus. Officer of Google'},
 {'name': 'Mr. Kent  Walker', 'pay': '664.75k', 'title': 'Corp. Sec.'},
 {'name': "Ms. Amie Thuener O'Toole",
  'pay': 'N/A',
  'title': 'Chief Accounting Officer & VP'},
 {'name': 'Ms. Ellen  West',
  'pay': 'N/A',
  'title': 'VP of Investor Relations'},
 {'name': 'Ms. Fiona Clare Cicconi',
  'pay': 'N/A',
  'title': 'Chief People Officer'}]

In [12]:
records = get_exec_records()
pay = records[2]['pay']

number = pay[0:-1]
number

''

In [13]:
def thousand_translate(display):
  last_char = display[-1]
  last3_char = display[-3:-1] + display[-1] 

  if last3_char == "N/A":
    salary = -1     # to distignuish N/A from zero salary
    
  elif last_char == 'M':    
    number = display[0:-1]
    salary = float(number) * 1000000
  elif last_char == 'k': 
    number = display[0:-1]
    salary = float(number) * 1000  
  else:
    salary = float(pay)  # some executives can have salary of $1 (i.e. not ending with k or M)
  return salary

print (thousand_translate(pay))

1.0

In [14]:
# test adding a tax field in the recoard dictionary.
records[0]['tax'] = 1000

print (records[0])

{'name': 'Mr. Sundar  Pichai', 'title': 'CEO & Director', 'pay': '7.43M', 'tax': 1000}

In [15]:
print (len(records))

10

In [16]:
def tax_cal(annualincome):
  if annualincome <=18200:
    tax_payable = 0
  elif annualincome <=45000:
    tax_payable = ( annualincome - 18200 ) * 0.19 
  elif annualincome <=120000:
    tax_payable = ( annualincome - 45000 ) * 0.325 + 5092
  elif annualincome <=180000:
    tax_payable = ( annualincome - 120000 ) * 0.37 + 29467
  else:
    tax_payable = ( annualincome - 180000 ) * 0.45 + 51667
  return tax_payable

In [49]:
# calculate tax for each exective and add tax to the exec

# ask/check currency, this is to cater for executive working in foreign company and needs to pay Australia tax.

fx = input('If the compnay of the ticker is not in Australia, please input FX: 1 ForeignCurrency = ? AUD: (enter blank to skip) ')

if fx == "":
  fx = 1.0
 
else:
  fx = float(fx)
  
 

for record in records:
  income = record['pay']
  
  temp = thousand_translate(income)
  
  if temp == -1:
    record['tax'] = 'N/A'
  
  else:
    temp1 = tax_cal(temp * fx)
    if temp1 > 1000000:         # this if phrase is to convert big amounts to "M" or "k" format with 2 decimal point that is consistnent with pay
      temp2 = str(round(temp1/1000000, 2)) +"M"
    elif temp1 > 1000:
      temp2 = str(round(temp1/1000, 2)) +"k"
    else:
      temp2 = str(temp1)
    record['tax'] = temp2
  
  print (record['tax'])

If the compnay of the ticker is not in Australia, please input FX: 1 ForeignCurrency = ? AUD: (enter blank to skip) 1
3.31M
0
0
273.41k
269.8k
367.49k
269.8k
N/A
N/A
N/A

In [31]:
print(records)

[{'name': 'Mr. Sundar  Pichai', 'title': 'CEO & Director', 'pay': '7.43M', 'tax': 3314167.0}, {'name': 'Mr. Lawrence Edward Page', 'title': 'Co-Founder & Director', 'pay': '1', 'tax': 0}, {'name': 'Mr. Sergey  Brin', 'title': 'Co-Founder & Director', 'pay': '1', 'tax': 0}, {'name': 'Ms. Ruth M. Porat', 'title': 'Sr. VP & CFO', 'pay': '672.77k', 'tax': 273413.5}, {'name': 'Dr. Prabhakar  Raghavan', 'title': 'Sr. VP of Google', 'pay': '664.75k', 'tax': 269804.5}, {'name': 'Mr. Philipp  Schindler', 'title': 'Sr. VP & Chief Bus. Officer of Google', 'pay': '881.82k', 'tax': 367486.0}, {'name': 'Mr. Kent  Walker', 'title': 'Corp. Sec.', 'pay': '664.75k', 'tax': 269804.5}, {'name': "Ms. Amie Thuener O'Toole", 'title': 'Chief Accounting Officer & VP', 'pay': 'N/A', 'tax': 'N/A'}, {'name': 'Ms. Ellen  West', 'title': 'VP of Investor Relations', 'pay': 'N/A', 'tax': 'N/A'}, {'name': 'Ms. Fiona Clare Cicconi', 'title': 'Chief People Officer', 'pay': 'N/A', 'tax': 'N/A'}]

In [43]:

with open('/content/test2.csv','w') as f:
  f.writelines("Name, Title, Pay(Original_Currency), Tax(AUD)")
  f.writelines("\n")
  for record in records:
    temp3 = str(record['name'])+ "," + str(record['title']) + "," + str(record['pay']) + "," + record['tax'])
    f.writelines(temp3)
    f.writelines("\n")  
f.close()

In [19]:
# final coding in below